{% extends 'UserBundle::layout-user.html.twig' %}

{% block title %} {{ parent() }} | Profil {% endblock %}

{% block inner_profile %}
    <h2 class="user-profile__title">Edit Profil</h2>
    <div class="my-profile">
        <div class="row">
            <div class="col-md-12">
                {{ form_start(form()) }}
                {{ form_row(form()) }}
                {{ form_end(form()) }}
            </div>
        </div>
    </div>
{% endblock %}
